{% extends 'base.html.twig' %}

{% block title %}Détails de la réservation{% endblock %}

{% block body %}
    <div class="container">
        <h1>Détails de la réservation</h1>

        <div class="card-reservation">
            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ reservation_cov.id }}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>{{ reservation_cov.status }}</td>
                    </tr>
                    <tr>
                        <th>Nombre de places</th>
                        <td>{{ reservation_cov.nbrPlace }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="actions">
                <a href="{{ path('app_reservation_cov_index') }}">Retour à la liste</a>
                <a href="{{ path('app_reservation_cov_edit', {'id': reservation_cov.id}) }}">Modifier</a>
            </div>
        </div>

        <!-- Formulaire de suppression -->
        <div class="delete-form">
            {{ include('reservation_cov/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
